
            {% for thing in items %}
                    <li style="list-style: none; padding: 3px 0; margin: 0">
                      {{ thing.title }}
                      <dl style="
          border: 1px solid grey;
          padding: 0.5em;
                      ">
                        <dt style="
          float: left;
          clear: left;
          width: 150px;
          text-align: right;
          font-weight: bold;
          color: grey;
                        ">Product title</dt>
                        <dd style="
          margin: 0 0 0 160px;
          padding: 0 0 0.5em 0;
                        ">{{ thing.title }}</dd>
                        {% if thing.message %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Note</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">
                          {{ thing.message }}</dd>
                        {% endif %}
                        <dt style="
          float: left;
          clear: left;
          width: 150px;
          text-align: right;
          font-weight: bold;
          color: grey;
                        ">Subscription ID</dt>
                        <dd style="
          margin: 0 0 0 160px;
          padding: 0 0 0.5em 0;
                        ">{{ thing.subscription_id }}</dd>
                        {% if thing.next_charge_scheduled_at %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Next charge</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">
                          {{ thing.next_charge_scheduled_at }}</dd>
                        {% endif %}
                        {% if thing.box_subscription_id %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Box subscription id</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">
                          {{ thing.box_subscription_id }}</dd>
                        {% endif %}
                        {% if thing.box_title %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Box title</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">
                          {{ thing.box_title }}</dd>
                        {% endif %}
                        {% if thing.delivery_at %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Next Delivery</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">
                          {{ thing.delivery_at }}</dd>
                        {% endif %}
                        {% if thing.cancelled_at %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Cancelled at</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">{{ thing.cancelled_at }}</dd>
                        {% endif %}
                        {% if thing.updated_at %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Last updated</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">{{ thing.updated_at }}</dd>
                        {% endif %}
                        {% if thing.price %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Box subscription price</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">{{ thing.price }}</dd>
                        {% endif %}
                        {% if thing.variant_price %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Box shop price</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">{{ thing.variant_price }}</dd>
                        {% endif %}
                        {% if thing.subscribed_quantity %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Subscribed quantity</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">{{ thing.subscribed_quantity }}</dd>
                        {% endif %}
                        {% if thing.listed_quantity %}
                          <dt style="
            float: left;
            clear: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            color: grey;
                          ">Listed quantity</dt>
                          <dd style="
            margin: 0 0 0 160px;
            padding: 0 0 0.5em 0;
                          ">{{ thing.listed_quantity }}</dd>
                        {% endif %}
                      </dl>
                    </li>
            {% endfor %}
