{% layout "layout" %}
{% block content %}
<mj-section full-width="true">
  <mj-column width="100%">
    <mj-text align="left" color="#666">
      <p style="padding:5px 0;margin:0">
      Hi {{ attributes.customer.first_name }} {{ attributes.customer.last_name }},
      </p>
      {% if attributes.content %}
        <p style="padding:5px 0;margin:0">
          {{ attributes.content }}
        </p>
      {% else %}
        <p style="padding:5px 0;margin:0">
        You are receiving this email because 
        {% if admin %}the shop administrator{% else %}you{% endif %}
        {{ descriptiveType }} a box subscription
        {% if admin %}on your behalf{% endif %}
        with <a href="https://{{ env.SHOP }}">{{ env.SHOP_TITLE }}</a> on
        {{ now }}{% unless admin %} ({{ navigator }}){% endunless %}.
        </p>
      {% endif %}
      <p style="padding:5px 0;margin:0">
        If you have any queries about this email please contact <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>.
      </p>
      <p style="padding:5px 0;margin:0">
        Your subscriptions can be viewed and edited from your 
        <a
            href="https://{{env.SHOP}}/account">account page</a>.
      </p>
    </mj-text>
  </mj-column>
</mj-section>
{% if attributes.cancellation_reason %}
  <mj-section padding="0px">
    <mj-column>
      <mj-text align="left" color="#666">
        <p style="padding:5px 0;margin:0">
          Your reason given for cancellation was:
        </p>
        <p style="padding:5px 0;margin:0;font-weight:bold;color:#000">
          {{ attributes.cancellation_reason }}
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
{% endif %}
{% if type != "deleted" and type != "cancelled" %}
  <mj-section padding-top="0px">
    <mj-column width="100%">
      {% include "address" %}
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-text align="center" font-size="20px" font-style="bold">
      {{ attributes.title }} - {{ attributes.variant }}
      </mj-text>
    </mj-column>
  </mj-section>
  {% if change_messages %}
    <mj-section padding-bottom="0px" full-width="true">
      <mj-divider border-width="1px" color="#666" />
      <mj-column width="100%" padding-top="20px">
        <mj-text align="left" color="#444">
          {% for message in change_messages %}
            <p style="padding:0;margin:0">
              &#9679; {{ message }}
            </p>
          {% endfor %}
        </mj-text>
      </mj-column>
    </mj-section>
  {% endif %}
  <mj-section padding-bottom="0px" full-width="true">
    <mj-divider border-width="1px" color="#666" />
    <mj-column width="100%">
      {% include "charge-summary" %}
    </mj-column>
  </mj-section>
  <mj-section padding-bottom="0px" full-width="true">
    <mj-divider border-width="1px" color="#666" />
    <mj-section padding-top="0px">
      <mj-column>
        {% include "properties" %}
      </mj-column>
    </mj-section>
  </mj-section>
  <mj-section padding-bottom="0px" full-width="true">
    <mj-divider border-width="1px" color="#666" />
    <mj-column width="100%">
      <mj-table>
        {% for product in includes %}
          {% include "includes" %}
        {% endfor %}
        {% assign totalPrice = attributes.totalPrice %}
        {% include "total-price" %}
      </mj-table>
    </mj-column>
  </mj-section>
{% endif %}
<mj-section padding-bottom="0px" full-width="true">
  <mj-divider border-width="1px" color="#666" />
  <mj-column width="100%">
    {% if attributes.lastOrder.order_number %}
      {% assign today_date = 'now' | date: '%s' %}
      {% assign delivered = attributes.lastOrder.delivered | date: '%s' %}
      <mj-text align="left" color="#666">
        <p style="padding:5px 0;margin:0">
        Your {% if today_date < delivered %}current{% else %}last{% endif %} order,
        <strong>{{ attributes.lastOrder.box.name }} (#{{ attributes.lastOrder.order_number }})</strong>,
        {% if today_date < delivered %}will be{% else %}was{% endif %} delivered on
        {{ attributes.lastOrder.delivered }}.
        </p>
      </mj-text>
    {% endif %}
    {% if counter %}
      <mj-text align="left" color="#666">
        <p style="padding:5px 0;margin:0">
          The update took {{ counter }} (mins:secs) to complete.
        </p>
      </mj-text>
    {% endif %}
  </mj-column>
</mj-section>
{% endblock %}

