{% for subscription in subscriptions %}
  <mj-section>
    <mj-column>
      <mj-text align="center" font-size="20px" font-style="bold">
      {{ subscription.box.shopify_title }} - {{ subscription.attributes.variant }}
      </mj-text>
    </mj-column>
  </mj-section>
  <mj-section padding="0px" full-width="true">
    <mj-column>
      {% assign attributes = subscription.attributes %}
      {% include "charge-summary" %}
    </mj-column>
  </mj-section>
  <mj-section padding-top="0px" full-width="true">
    <mj-column width="100%">
      <mj-text align="left" color="#444">
        {% for message in subscription.messages %}
          <p style="padding:0;margin:0">
            &#9679; {{ message }}
          </p>
        {% endfor %}
      </mj-text>
    </mj-column>
  </mj-section>
  <mj-section padding-top="0px" full-width="true">
    <mj-column width="100%">
      {% assign properties = subscription.properties %}
      {% include "properties" %}
    </mj-column>
  </mj-section>
  <mj-section padding-top="0px" full-width="true">
    <mj-column width="100%">
      <mj-table>
        {% for product in subscription.includes %}
          {% include "includes" %}
        {% endfor %}
        {% assign totalPrice = subscription.attributes.totalPrice %}
        {% include "total-price" %}
      </mj-table>
    </mj-column>
  </mj-section>
  {% if type == "upcoming" %}
    <mj-section padding="0px 0px" full-width="true">
      <mj-column>
        <mj-table>
          {% if subscription.attributes.newIncludedInThisBox.size > 0 %}
            <tr style="padding-bottom:5px;">
              <td valign="top" style="color:#777;text-align:left;">
                New includes this week:
              </td>
            </tr>
            <tr style="padding-bottom:5px;border-bottom:1px solid #ddd">
              <td valign="top" style="padding: 0px 0px 5px 120px">
                {{ subscription.attributes.newIncludedInThisBox | join: ", " }}
              </td>
            </tr>
          {% endif %}
          {% if subscription.attributes.notIncludedInThisBox.size > 0 %}
            <tr style="padding-bottom:5px;">
              <td valign="top" style="color:#777;text-align:left;">
                Not included this week:
              </td>
            </tr>
            <tr style="padding-bottom:5px;border-bottom:1px solid #ddd">
              <td valign="top" style="padding: 0px 0px 5px 120px">
                {{ subscription.attributes.notIncludedInThisBox | join: ", " }}
              </td>
            </tr>
          {% endif %}
          {% if subscription.attributes.nowAvailableAsAddOns.size > 0 %}
            <tr style="padding-bottom:5px;">
              <td valign="top" style="color:#777;text-align:left;">
                New add ons this week:
              </td>
            </tr>
            <tr style="padding-bottom:5px;border-bottom:1px solid #ddd">
              <td valign="top" style="padding: 0px 0px 5px 120px">
                {{ subscription.attributes.nowAvailableAsAddOns | join: ", " }}
              </td>
            </tr>
          {% endif %}
        </mj-table>
      </mj-column>
    </mj-section>
  {% endif %}
{% endfor %}
