{% layout "layout" %}
{% block content %}
<mj-section full-width="true">
  <mj-column width="100%">
    <mj-text align="left" color="#666">
      <p style="padding:5px 0;margin:0">
      Hi {{ attributes.customer.first_name }} {{ attributes.customer.last_name }},
      </p>
      {% if attributes.content %}
        <p style="padding:5px 0;margin:0">
          {{ attributes.content }}
        </p>
      {% else %}
        <p style="padding:5px 0;margin:0">
        You are receiving this email because 
        {% if admin %}the shop administrator{% else %}you{% endif %}
        {{ descriptiveType }} a box subscription
        {% if admin %}on your behalf{% endif %}
        with <a href="https://{{ env.SHOP }}">{{ env.SHOP_TITLE }}</a> on
        {{ now }} ({{ navigator }}).
        </p>
      {% endif %}
      <p style="padding:5px 0;margin:0">
        If you have any queries about this email please contact <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>.
      </p>
      <p style="padding:5px 0;margin:0">
        Your subscriptions can be viewed and edited from your 
        <a
            href="https://{{env.SHOP}}/account">account page</a>.
      </p>
    </mj-text>
  </mj-column>
</mj-section>
{% if change_messages %}
  <mj-section padding-top="0px">
    <mj-column>
      <mj-table>
        <tr>
          <td>
            {% for message in change_messages %}
              <p style="padding:0;margin:0">
                {{ message }}
              </p>
            {% endfor %}
          </td>
        </tr>
      </mj-table>
    </mj-column>
  </mj-section>
{% endif %}
{% if attributes.cancellation_reason and type == "cancelled" %}
  <mj-section padding="0px">
    <mj-column>
      <mj-text align="left" color="#666">
        <p style="padding:5px 0;margin:0">
          Your reason given for cancellation was:
        </p>
        <p style="padding:5px 0;margin:0;font-weight:bold;color:#000">
          {{ attributes.cancellation_reason }}
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
{% else %}
  <mj-section padding="0px">
    <mj-column>
      <mj-table align="center" width="100%">
        {% if attributes.previousChargeDate %}
          {% if false %}
          <tr>
            <td style="color:#777;text-align:right;padding-right:20px;">Previous Payment Date</td>
            <td>{{ attributes.previousChargeDate }}</td>
          </tr>
        {% endif %}
          <tr>
            <td style="color:#777;text-align:right;padding-right:20px;padding-bottom:20px;">Previous Scheduled Delivery</td>
            <td style="font-weight:bold;padding-bottom:20px;">{{ attributes.previousDeliveryDate }}</td>
          </tr>
        {% endif %}
        {% if attributes.nextChargeDate %}
          <tr>
            <td style="color:#777;text-align:right;padding-right:20px;">Next Payment Date</td>
            <td>{{ attributes.nextChargeDate }}</td>
          </tr>
          <tr>
            <td style="color:#777;text-align:right;padding-right:20px">Next Scheduled Delivery</td>
            <td style="font-weight:bold">{{ attributes.nextDeliveryDate }}</td>
          </tr>
          {% if attributes.frequency %}
            <tr>
              <td style="color:#777;text-align:right;padding-right:20px;">Delivery Schedule</td>
              <td>{{ attributes.frequency }}</td>
            </tr>
          {% endif %}
        {% endif %}
      </mj-table>
    </mj-column>
  </mj-section>
{% endif %}
<mj-section padding-bottom="0px" full-width="true">
  <mj-divider border-width="1px" color="#333" />
  <mj-column width="100%">
    <mj-text align="left" color="#666">
      <p style="padding:5px 0px;margin:0">
        Your box subscription includes:
      </p>
    </mj-text>
    <mj-table padding="20px 0px 0px 0px">
      {% for product in includes %}
        <tr>
          <td width="50px" style="padding: 3px 0px">
            <img src="{{ env.HOST }}/product-images/{{ product.shopify_product_id }}.jpg" 
                width="40px" style="border:1px solid #666;border-radius:2px;" align="left" />
          </td>
          <td>
            {{ product.title }}
          </td>
          <td>
            <span>$</span>{{ product.price | money }}
          </td>
          <td>
            {{ product.quantity }}
          </td>
          <td width="40px" style="text-align:right">
            <span>$</span>{{ product.total_price | money }}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="4" style="text-align:left;border-top:1px solid #333">
          Total (excl. shipping).
        </td>
        <td width="40px" style="text-align:right;border-top:1px solid #333">
          <span>$</span>{{ attributes.totalPrice | money }}
        </td>
      </tr>
    </mj-table>
  </mj-column>
</mj-section>
<mj-section padding-bottom="0px" full-width="true">
  <mj-divider border-width="1px" color="#333" />
  <mj-column width="100%">
    {% if attributes.lastOrder.order_number %}
      <mj-text align="left" color="#666">
        <p style="padding:5px 0;margin:0">
        Your last order, <strong>{{ attributes.lastOrder.box.name }} (#{{ attributes.lastOrder.order_number }})</strong>,
        was delivered on {{ attributes.lastOrder.delivered }}.
        </p>
      </mj-text>
    {% endif %}
    {% if counter %}
      <mj-text align="left" color="#666">
        <p style="padding:5px 0;margin:0">
          The update took {{ counter }} (mins:secs) to complete.
        </p>
      </mj-text>
    {% endif %}
  </mj-column>
</mj-section>
{% endblock %}

