{% layout "layout" %}
{% block content %}
  <mj-section padding-bottom="0px">
    <mj-column>
      <mj-text align="left">
        <p style="padding:5px 0;margin:0">
        Hi {{ attributes.customer.first_name }} {{ attributes.customer.last_name }},
        </p>
        <p style="font-weight:bold;padding:5px 0;margin:0">
          Thanks for subscribing!
        </p>
        <p style="padding:5px 0;margin:0;line-height:1.5">
          You are receiving this email because you have just subscribed to a Veggie Box from <a href="https://{{ env.SHOP }}">{{ env.SHOP_TITLE }}</a>. We are so happy you've decided to make your veggie box a regular thing!
        </p>
        <p style="padding:5px 0;margin:0;line-height:1.5">
          You are joining over 250 households across Canterbury that chose to eat delicious, nutrient dense, locally grown veggies from Streamside Organics each week. In doing so you are not only supporting the health of your family and enjoying the incredible taste of organics, you are also supporting regenerative agriculture and local farmers - that's us!
        </p>
        <p style="font-weight:bold;padding:5px 0;margin:0">
          Now, a little bit of housekeeping:
        </p>
        <p style="padding:5px 0;margin:0;line-height:1.5">
        If you don't already have an account with us please complete account set up
         <a href="https://{{env.SHOP}}/tools/recurring/get-subscription-access">here.</a>.
        Once your account is active you can manage details like payment methods and make changes to upcoming orders from your
         <a href="https://{{ env.SHOP }}/account">account page</a>.
        </p>
        <p style="padding:5px 0;margin:0;line-height:1.5">
        You will receive a `charge upcoming` email three days before payment is charged, the week prior to delivery. Your next box can be customised anytime prior to the payment being charged.
        </p>
        <p style="padding:0;margin:0;line-height:1.5">
        Payment will be charged to your nominated payment method three days prior to delivery. Please make sure you have sufficient funds available on that day.
        </p>
        {% if attributes.frequency %}
          <p style="padding:5px 0;margin:0">
            Subscription is scheduled for {{ attributes.frequency | downcase }}.
          </p>
        {% endif %}
        <p style="padding:0;margin:0;line-height:1.5">
        You will receive a scheduled order confirmation email once your payment has been successfully processed.
        </p>
        <p style="padding:5px 0;margin:0;line-height:1.5">
          If you have any questions or concerns regarding your order please email <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>.
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
  {% include "subscription" %}
{% endblock %}
